.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.task {
  grid-column: 1;
  height: 100vh;
  background: #184169;
  display: grid;
  grid-template-rows: 3fr 2fr;
}

.chatbox {
  grid-column: 2;
  height: 100vh;
  background: #13314D;
  justify-items: stretch;
  display: grid;
  grid-template-rows: auto 40px
}

.minnie {
  grid-column: 3;
  height: 100vh;
  background: #184169;
  overflow: auto;
  display: grid;
  grid-template-rows: 14fr 1fr;
}

.chatinput {
  grid-row: 2;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%
}

.chattext {
  grid-row: 1;
  overflow: auto;
}

.innertask {
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 9fr;
  overflow: auto;
}

.member {
  grid-row: 2;
  background: #2D587B;
  overflow: auto;
  justify-items: center
}

.toptask {
  grid-row: 1;
  background: #2D587B;
}

.middletask {
  grid-row: 2;
  overflow: auto;
  justify-self: stretch;
  margin-left: 20px
}

.end {
  grid-row: 2;
  align-self: center;
  justify-self: center; 
}

.content {
  grid-row: 1;
  overflow: auto;
  justify-self: center; 
}